<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.visionassist.appspace">

    <!-- Camera feature -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.sensor.gyroscope"
        android:required="false" />

    <!-- Camera permission - all API levels -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- Microphone permission - all API levels (API 24+) -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />


    <!-- Other basic permissions -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Storage permissions for API 24-29 (Android 7.0 - Android 10) -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />

    <!-- Storage permissions for API 33+ (Android 13+) -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />

    <application
        android:name=".VisionAssistApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="true">

        <activity
            android:name=".activities.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.newprofile.PermissionsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.newprofile.ConfigurationActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.newprofile.WelcomeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.newprofile.LoadProfileActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.newprofile.NewProfileActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.newprofile.UserInfoActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.newprofile.UserInfoE3Activity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.newprofile.UserAccessibility1Activity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.newprofile.UserHashCachingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.main.HomeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.main.BlindHomeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.tabs.home.detection.LiveDetectionActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.tabs.home.detection.StaticDetectionActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.tabs.home.caption.CaptionActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.tabs.home.findmyobjects.FindMyObjectActivity"
            android:screenOrientation="portrait" />


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>